@import "../../scss/utils";

.header {
    padding: 1rem 1.5rem ;
    background: $primary; 
    font-weight: bold;
    color: white ;
    text-align: center;
    min-height: 30px;
    h3 {
        margin: 0;
        font-size: 1.5em;
    }
}