@import "../../scss/utils";

.header {
	padding: 1rem 1.5rem;
	background: transparent;
	font-weight: bold;
	color: $dark;
    min-height: 30px;
    .container {
        justify-content: flex-start;
    }
	h1 {
		margin: 0;
        font-size: 1.25em;
        padding: 0 2rem;
	}
}
