/* RGB */
$gray: rgba(210, 210, 210, 1);
$filler: rgba(170, 170, 170, 1);
$secondary: rgba(242, 242, 242, 1);
$primary: rgba(8, 8, 8, 1);
$danger: #bb2124;
$success: #22bb33;
$gradient: linear-gradient(120deg, $primary 0%, $filler 60%, $gray 100%);

/* Fonts */
$fontBody: "Open Sans", sans-serif;
$fontTitle: "Montserrat", sans-serif;
